use nix -p rustup bacon just yq postgresql_15 redis

if ! [[ -e .config.toml ]]; then
    cp config.toml .config.toml
fi

export RUST_LOG=debug,hyper::proto=info,rustls::client=info,difft=off
export CONFIG_PATH=$(realpath .config.toml)
