use nix -p rustup bacon just yq postgresql_15 redis

if ! [[ -e .config.toml ]]; then
    cp config.toml .config.toml
fi

export RUST_LOG=info,difft=off,poem_ext,lib,entity,migration,jobs=trace
export CONFIG_PATH=$(realpath .config.toml)
